/* <---------GENERAL STYLES FOR NAV BAR & CONTAINER--------> */
.container {
    top: auto;
    color: darkblue;
}

.navbar{
    background-color: lemonchiffon;
}

.col-8{
    background-color: lemonchiffon;
}